<ul>
	<% @list.tasks.completed.each do |task| %>
	<li><%= form_for [current_user, @list, task], remote: true do |form| %>
	<%= form.check_box :completed %> <%= task.description %><br><br>
		<% end %></li>
	<% end %>
</ul>